<div class="relative btn-action-table flex justify-between">
  <div class="btn-filter" *ngIf="userLogin?.role_id === 3">
    <button
      (click)="openFilter()"
      id="dropdownActionButton"
      class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-10 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      type="button"
    >
      <span class="sr-only">Action button</span>
      Filter
      <svg
        class="w-2.5 h-2.5 ms-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdownFilter"
      class="absolute z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
    >
      <ul
        class="py-1 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownFilterButton"
      >
        <li>
          <button
            (click)="getAllClaimByUserId(this.userLogin.user_id)"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            All
          </button>
        </li>
        <li>
          <button
            (click)="getAllClaimByCategory(userLogin.user_id, 1)"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            Biaya Kantor
          </button>
        </li>
        <li>
          <button
            (click)="getAllClaimByCategory(userLogin.user_id, 2)"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            Client
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-export">
    <button
      (click)="toogleModalExport()"
      class="bg-yellow-600 hover:bg-yellow-300 text-white px-10 rounded-xl py-3 mb-5"
    >
      Export PDF
    </button>
  </div>
</div>

<div class="relative">
  <!-- Tampilan Karyawan -->
  <div *ngIf="userLogin?.role_id === 3" class="block w-full overflow-x-auto">
    <table class="items-center bg-transparent w-full border-collapse">
      <thead class="bg-primary">
        <tr class="text-center text-white text-2xl font-bold">
          <td colspan="10">Reimburse Biaya Kantor</td>
        </tr>
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            NO
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Nama
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Tanggal
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Deskripsi
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Nominal
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Attachment Bukti
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Approval
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Category
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Note
          </th>
          <th
            *ngIf="userLogin?.role_id === 3"
            class="px-6 text-center bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold"
          >
            Action
          </th>
        </tr>
      </thead>

      <tbody class="border-2">
        <ng-container *ngFor="let claim of displayClaim; let i = index">
          <tr>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700"
            >
              {{ (currentPage - 1) * pageSize + i + 1 }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.username }}
            </td>
            <td
              class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.payment_date | date : "EEEE, dd-MMMM-yyyy" }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.description }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.nominal | currency : "RP " : "symbol" : "1.0-2" }}
            </td>
            <td
              class="text-center border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <a href="{{ fileUrl }}/file/{{ claim.filename }}">Bukti</a>
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <span *ngIf="claim.status_code === 'D'">
                <p class="text-md font-bold">Draft</p>
              </span>
              <span *ngIf="claim.status_code === 'w'">
                <p class="text-md font-bold">Waiting ...</p>
              </span>
              <span *ngIf="claim.status_code === 'AA'">
                <p class="text-md font-bold text-yellow-300">Approve Admin</p>
              </span>
              <span *ngIf="claim.status_code === 'AP'">
                <p class="text-md font-bold text-primary">Approve Manajer</p>
              </span>
              <span *ngIf="claim.status_code === 'TA'">
                <p class="text-md font-bold text-red-600">Ditolak Admin</p>
              </span>
              <span *ngIf="claim.status_code === 'TP'">
                <p class="text-md font-bold text-red-600">Ditolak Manajer</p>
              </span>
            </td>
            <td
              class="text-center border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.category_name }}
            </td>
            <td
              class="text-center border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.note_partner }}
            </td>
            <td
              *ngIf="userLogin?.role_id === 3"
              class="border-t-0 text-center px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex"
            >
              <span
                *ngIf="claim.status_code === 'TA' || claim.status_code === 'TP'"
              >
                <button class="p-4 bg-yellow-400 ms-2 rounded-xl text-white">
                  Resubmit
                </button>
                <button
                  (click)="toogleModal(1, claim)"
                  class="p-4 bg-green-700 ms-2 rounded-xl text-white"
                >
                  Edit
                </button>
                <button
                  (click)="toogleModalRemove(claim)"
                  class="p-4 bg-red-700 ms-2 rounded-xl text-white"
                >
                  Remove
                </button>
              </span>
              <span *ngIf="claim.status_code === 'D'">
                <button
                  (click)="submit(claim.claim_id)"
                  class="p-4 bg-blue-700 ms-2 rounded-xl text-white"
                >
                  Submit
                </button>
                <button
                  (click)="toogleModal(1, claim)"
                  class="p-4 bg-green-700 ms-2 rounded-xl text-white"
                >
                  Edit
                </button>
                <button
                  (click)="toogleModalRemove(claim)"
                  class="p-4 bg-red-700 ms-2 rounded-xl text-white"
                >
                  Remove
                </button>
              </span>
            </td>
          </tr></ng-container
        >
      </tbody>
    </table>
  </div>

  <div *ngIf="userLogin?.role_id !== 3" class="block w-full overflow-x-auto">
    <table class="items-center bg-transparent w-full border-collapse">
      <thead class="bg-primary">
        <tr class="text-center text-white text-2xl font-bold">
          <span *ngIf="userLogin?.role_id === 3"></span>
          <td colspan="8">Reimburse Biaya Kantor</td>
        </tr>
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            NO
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Tanggal
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Deskripsi
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            ATTACHMENT BUKTI
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            CATEGORY
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            STATUS
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs text-white uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            ACTION
          </th>
        </tr>
      </thead>

      <tbody class="border-2">
        <ng-container *ngFor="let claim of displayClaim; let i = index">
          <tr>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700"
            >
              {{ i + 1 }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.payment_date | date : "EEEE, dd-MMMM-yyyy" }}
            </td>
            <td
              class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.description }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <a href="{{ fileUrl }}/file/{{ claim.filename }}">Bukti</a>
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ claim.category_name }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <span *ngIf="claim.status_code === 'D'">
                <p class="text-md font-bold">Draft</p>
              </span>
              <span *ngIf="claim.status_code === 'w'">
                <p class="text-md font-bold">Waiting ...</p>
              </span>
              <span *ngIf="claim.status_code === 'AA'">
                <p class="text-md font-bold text-yellow-300">Approve Admin</p>
              </span>
              <span *ngIf="claim.status_code === 'AP'">
                <p class="text-md font-bold text-primary">Approve Partner</p>
              </span>
              <span *ngIf="claim.status_code === 'TA'">
                <p class="text-md font-bold text-red-600">Ditolak Admin</p>
              </span>
              <span *ngIf="claim.status_code === 'TP'">
                <p class="text-md font-bold text-red-600">Ditolak Partner</p>
              </span>
            </td>

            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <button
                [routerLink]="['/detail-claim', claim.claim_id]"
                class="px-5 py-2 bg-blue-700 ms-2 rounded-xl text-white"
              >
                View
              </button>
            </td>
          </tr></ng-container
        >
      </tbody>
    </table>
  </div>
  <div class="flex justify-between mt-5">
    <div class="info-pagination">
      Showing {{ getStartIndex() }} - {{ getEndIndex() }} entries {{ entires }}
    </div>
    <div class="btn-pagination flex">
      <!-- Previous Button -->
      <button
        [disabled]="currentPage === 1"
        (click)="prevPage()"
        href="#"
        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Previous
      </button>

      <!-- Next Button -->
      <button
        [disabled]="currentPage === totalPages"
        (click)="nextPage()"
        href="#"
        class="flex items-center justify-center px-3 h-8 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Next
      </button>
    </div>
  </div>
</div>

<!-- Main modal -->
<div
  id="filterExport-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden absolute flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Filter Date for Export
        </h3>
        <button
          (click)="toogleModalExport()"
          type="button"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="authentication-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <form (ngSubmit)="onSubmit()" class="space-y-4">
          <div>
            <label
              for="date"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Date</label
            >
            <input
              type="month"
              name="month"
              id="month"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              [(ngModel)]="filterDate"
              required
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Detail Export
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<app-modal-edit-claim
  id="modal-claim"
  class="absolute hidden overflow-y-auto overflow-x-hidden flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
  [dataReceived]="dataReceived"
  (closeModalEvent)="toogleModal(0, null)"
></app-modal-edit-claim>
<!-- REMOVE MODAL -->
<app-modal-remove
  id="modal-remove"
  class="hidden absolute overflow-y-auto overflow-x-hidden flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
  [receivedData]="dataModalRemove | async"
  (closeModalEvent)="toogleModalRemove(null)"
>
</app-modal-remove>
