<div class="isolate bg-white px-6 py-18 lg:px-8">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true"
  >
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <div class="form-add-user p-20">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Add User
      </h2>
      <hr />
    </div>
    <form [formGroup]="formAddUser" (ngSubmit)="onSubmit()">
      <!-- Username Input -->
      <div class="mb-4">
        <label for="username" class="block text-gray-600">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
          formControlName="username"
        />
        <p *ngIf="!isValid" class="text-red-500 mt-1">Username Required</p>
      </div>
      <div class="mb-4">
        <label for="karyawan_id" class="block text-gray-600">ID Karyawan</label>
        <input
          type="number"
          id="karyawan_id"
          name="karyawan_id"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
          formControlName="karyawan_id"
        />
        <p *ngIf="!isValid" class="text-red-500 mt-1">ID Karyawan Required</p>
      </div>

      <!-- Password Input -->
      <div class="mb-4 relative">
        <label for="password" class="block text-gray-600">Password</label>
        <input
          [type]="hideToglePassword ? 'password' : 'text'"
          type="password"
          id="password"
          name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          formControlName="password"
        />
        <p *ngIf="!isValid" class="text-red-500 mt-1">Password Required</p>
        <div
          class="toggle-password absolute inset-y bottom-3 right-0 flex items-center pr-5 pointer-events-auto cursor-pointer"
          (click)="togglePasswordVisibility()"
        >
          <i
            class="fa-regular"
            [ngClass]="hideToglePassword ? 'fa-eye-slash' : 'fa-eye'"
          ></i>
        </div>
      </div>

      <!-- Role -->
      <div class="mb-10">
        <label for="role" class="block text-gray-600">Role</label>
        <select
          name="role"
          id="role"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          formControlName="role_id"
        >
          <option value="1">Partner</option>
          <option value="2">Admin</option>
          <option value="3">Karyawan</option>
        </select>
        <p *ngIf="!isValid" class="text-red-500 mt-1">Role Required</p>
      </div>

      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full"
      >
        Add User
      </button>
    </form>
  </div>
</div>

<app-modal
  id="modalSuccess"
  tabindex="-1"
  class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-80 md:w-auto max-w-md rounded-lg p-4"
  [receivedText]="textForModal | async"
>
</app-modal>
